@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

details {
  position: relative;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: "";
  position: absolute;
  left: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 100% 100%/2em 2em;
  width: 1.8em;
  height: 1.8em;
  transition: transform 0.1s linear;
}

summary {
  width: 100%;
  padding: 20px;
  padding-left: 25px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

summary * {
  margin: 0;
}

summary h1 {
  line-height: 0.4 !important;
}

summary h2 {
  line-height: 0.6 !important;
}

summary h3 {
  line-height: 0.8 !important;
}

summary h4 {
  line-height: 1 !important;
}

summary h5 {
  line-height: 1.4 !important;
}

summary h6 {
  line-height: 3 !important;
}

summary:hover {
  color: var(--MAIN-LINK-HOVER-color);
}

summary:focus {
  outline: none;
}

details[open] summary:before {
  transform: rotate(90deg);
}

details[open] > summary {
  color: var(--MAIN-ANCHOR-color);
}

details[open] > summary ~ * {
  animation: open 1s ease;
}

p.source {
  padding-top: 50px;
  font-size: 0.75em;
  text-align: center;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
