.ui-widget-header {
  background: transparent !important;
  border: 0 !important;
}

.ui-widget-content {
  background-image: none !important;
}

.ui-widget-content a {
  color: var(--MAIN-LINK-color);
}

.ui-widget-content a:hover {
  color: var(--MAIN-LINK-HOVER-color);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background-image: none !important;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus {
  background-image: none !important;
}

.ui-widget-header .ui-tabs-tab:hover {
  background-color: var(--MENU-SECTIONS-LINK-HOVER-color) !important;
}

.ui-widget-header .ui-tabs-tab {
  border-color: var(--MAIN-ANCHOR-color) !important;
}

.ui-widget-header .ui-tabs-tab a:hover {
  text-underline: none;
}

.ui-widget-header .ui-tabs-tab.ui-state-active {
  background-color: #CCE5FF !important;
}

.ui-tabs {
  background-color: #EEF2F9 !important;
}

.ui-tabs ul, .ui-tabs ol, .ui-tabs li {
  padding: 0 !important;
  list-style: none !important;
  margin-bottom: 0 !important;
  margin-left: 4px !important;
}

.ui-tabs .ui-tabs-nav a.ui-tabs-anchor {
  color: var(--MAIN-ANCHOR-color) !important;
}

.ui-tabs-panel ul, .ui-tabs-panel li {
  list-style: disc !important;
}

.ui-tabs a.ui-tabs-anchor.highlight:after {
  transition: none !important;
  display: none !important;
  content: none !important;
}

ol li {
  list-style: decimal !important;
}

.ui-widget-content {
  border: 0 !important;
}

.ui-tabs {
  font-size: 1em;
  font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important;
}

.ui-tabs .ui-tabs-panel {
  border: 1px solid #ccc !important;
  padding: 10px !important;
  background-color: white !important;
}

.ui-tabs .ui-tabs-panel pre {
  margin: 0 !important;
}
